* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    display: flex;
    align-items: center;
    padding: 0 35px;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
}

.wrapper {
    max-width: 1200px;
    position: relative; 
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    background: #fff;
    transform: translateY(-50%);
}

.wrapper i:first-child{
left: -23px;
display: none;
}

.wrapper i:last-child{
    right: -23px;
    }


.wrapper .carousel {
    font-size: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth; 
}

.carousel .draggin{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel .draggin img{
   pointer-events: none;
}



.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img :first-child {
    margin-left: 0pc;
}


/* Media query Section and responsive*/


@media screen and (max-width : 900px){
    .carousel img {
        width: calc(100% / 2);  
    }
}


@media screen and (max-width : 550px){
    .carousel img {
        width:100%;  
    }
}